# deps
**/node_modules/
**/pnpm-lock.yaml
**/yarn.lock

# build
**/dist/
**/build/
**/.next/
**/.vite/       # <-- adaugă cache-ul Vite
**/coverage/

# uploads / storage local (NU în repo)
backend/storage/

# logs & OS junk
*.log
.DS_Store
Thumbs.db

# env
.env
.env.*
.env.development
.env.production


frontend/public/unlock.html
